attrs==23.2.0
cattrs==23.2.3
debugpy==1.8.2
docstring-to-markdown==0.15
exceptiongroup==1.2.1
greenlet==3.0.3
jedi==0.19.1
lsprotocol==2023.0.1
msgpack==1.0.8
neovim==0.3.1
parso==0.8.4
pluggy==1.5.0
pynvim==0.5.0
python-lsp-jsonrpc==1.1.2
python-lsp-ruff==2.2.1
python-lsp-server==1.11.0
ruff==0.5.0
tomli==2.0.1
tree-sitter-underscore @ git+ssh://git@github.com/AlexJMohr/tree-sitter-underscore.git@73829306c2ebf9a15ab3778cb96fb7613ea5b36e
typing_extensions==4.12.2
ujson==5.10.0
